body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f9;
        color: #000000;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #000000;
    }

    .carrito_table {
        width: 90%;
        justify-content: center;
        margin-left: 50px;
        margin-top: 20px;
        border-collapse: collapse;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        overflow: hidden;
    }

    thead {
        background-color: #4a90e2;
        color: #fff;
    }

    th, td {
        padding: 12px 15px;
        text-align: center;
        vertical-align: middle;
    }

    tbody tr {
        border-bottom: 1px solid #eee;
    }

    tbody tr:hover {
        background-color: #f0f8ff;
    }

    .img_art {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
    }

    .cantidad-input {
        width: 100px;
        font-size: 25px;
        padding: 6px;
        border: 1px solid #ccc;
        border-radius: 6px;
        text-align: center;
    }

    .eliminar-btn {
        background-color: transparent;
        border: none;
        font-size: 80px;
        cursor: pointer;
        color: #d9534f;
        margin-left: 20%;
    }

    .nom{
      margin-left: 20px;
      font-size: 30px;
    }

    .eliminar-btn:hover {
        color: #c9302c;
        transform: scale(1.1);
    }

    .total_carr {
        text-align: right;
        font-size: 30px;
        margin-right: 60px;
        margin-top: 20px;
        font-weight: bold;
        color: #000000;
    }

    .continuar-compra {
        text-align: center;
        margin-top: 30px;
        margin-left: 900px;
    }

    #continuarCompra {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 12px 25px;
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #continuarCompra:hover {
        background-color: #218838;
    }

    input[type="checkbox"] {
        width: 40px;
        height: 45px;
        accent-color: #4a90e2;
        cursor: pointer;
        margin-left: 20px;
    }
    

    @media (max-width: 768px) {
        table, thead, tbody, th, td, tr {
            display: block;
        }

        thead {
            display: none;
        }

        td {
            position: relative;
            padding-left: 50%;
            text-align: left;
        }

        td::before {
            content: attr(data-label);
            position: absolute;
            left: 15px;
            font-weight: bold;
            color: #666;
        }

        .total, .continuar-compra {
            text-align: center;
        }
    }