/* reporte_ventas.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}

.pedido-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
}

.pedido-header, .pedido-info, .pago-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-weight: 600;
    color: #555;
}

.etiqueta {
    color: #888;
    font-weight: normal;
    margin-right: 5px;
    text-align: left;
}

.producto {
    display: flex;
    align-items: center;
    background-color: #f0f3f5;
    border-radius: 6px;
    padding: 12px 15px;
    margin-bottom: 12px;
    gap: 15px;
}

.producto-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.producto div {
    flex: 1;
    font-size: 14px;
}

.producto div span.etiqueta {
    font-weight: 600;
    color: #666;
}

.totales {
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.totales h3 {
    margin-top: 0;
    text-align: center;
    color: #000000;
}

.totales p {
    font-size: 20px;
    margin: 10px 0;
    color: #000000;
}

.totales p strong {
    font-size: 25px;
    color: #000;
}